body {
  font-family: sans;
  margin: 0;
  padding: 0;
}

a, a:visited {
  background-color: #f69e02;
  color: #000;
  text-decoration: none;
}

a:active {
  color: #fff;
  background-color: #25a;
  text-decoration: none;
}
